body{
    background-color:lightslategrey;
}
.container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    font-size: 40px;
    float: left;
    margin-right: 40px;
    margin-bottom: 50px;
    margin-top: 10px;
    margin-left: 15px;
    background-color: lightgray;
    letter-spacing: 2px;
    font-weight: 700;
}
.menu{
    float: left;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 20px;
}
.menu:hover{
    color: white;
    cursor: pointer;
}
.header{
    min-height: 60px;
    margin-bottom: 50px;
    margin-top: 20px;
    background-color: lightgray;
}
.title{
    text-align: center;
    margin-bottom: 30px;
    color:white;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}
.imgLeft{
    margin-left: 20px;
    padding: 20px;
    float: left;
    width: 500px;
}
.article{
    background-color: lightgray;
    min-height: 350px;
    margin-bottom: 30px;
}
.textRight{
    float: left;
    width: 400px;
    text-align: justify;
    margin-top: 15px;
    min-height: 300px;
}
.imgRight{
    padding: 20px;
    float: left;
    width: 500px;
    margin-right: 0px;
    margin-left: 10px;
    text-align: right;
}
.textLeft{
    float: left;
    margin-left: 40px;
    width: 400px;
    text-align: justify;
    margin-top: 15px;
    min-height: 300px;
}
.more:hover{
    cursor: pointer;
    color:white;
}
.contact{
    font-size: 30px;
    color: white;
    text-align: center;
}
.contactDetails{
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.tilelink{
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.dataAuthor{
    float: left;
    font-size: 50px;
    min-height: 300px;
    width: 600px;
    text-align: center;
    background-color: lightgray;
    padding-top: 50px;
}
.author{
    float: left;
    width: 400px;
    min-height: 330px;
    background-color: lightgray;
    padding-top: 20px;
}
.textDiet{
    text-align: justify;
}
.addPostButton{
    width: 35%;
    min-height: 80px;
    text-align: center;
    cursor: pointer;
    color: #5e6c84;
    font-size: 40px;
}
.addPostButton:hover
{
    color: #4d5b73;
}
.postBlog
{
    width: 1000px;
    min-height: 500px;
    background-color: lightgray;
    margin-bottom: 30px;
}
.addTitle{
    width: 560px;
    min-height: 36px;
    margin: 10px;
}
.addContent{
    width: 900px;
    min-height: 300px;
    margin: 10px;
}
.publish{
    cursor: pointer;
    width: 150px;
    min-height: 50px;
    margin-left: 800px;
    background-color: blue;
    color: white;
    margin-top: 30px;
}